@import 'components/mixin';
@media(max-width: 1440px){

}

@media(max-width: 1280px){
  .section_banner{
    .container{
      padding: 0;
    }
  }
  .section_map{
    .container{
      padding: 0;
    }
    .wrapper{
      .txt_inner{
        padding: 0;
        max-width: 540px;
      }
    }
  }
  .container{
    padding: 1rem;
  }

  .wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
  header{
    .wrapper_flex{
      .logo{
        max-width: 200px;
      }

      .main_menu{
        ul{
          gap: 2rem;
        }
      }
    }
  }

  footer{
    .wrapper_flex{
      justify-content: normal;
      gap: 1rem;
      .phone_section{
        flex-wrap: wrap;
      }
      .social{
        a{
          width: 25px;
        }
      }
      .phone_section{
        gap: .5rem;
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width:1279px) {
  header{
    .wrapper_flex{
      justify-content: normal;
      flex-wrap: nowrap;
      gap: .5rem;
      .main_menu{
        ul{
          gap: 0.5rem;
          li{
            a{
              white-space: nowrap !important;
              letter-spacing: normal;
            }
          }
        }

      }
    }
  }

}

@media (max-width: 1024px){
  header{
    .wrapper_flex{
     .logo{
       max-width: 180px;
     }
    }
  }
  h1{
   @include title_h1_small;
  }
  h2{
    @include h2_small;
  }
  .item_title{
    @include h2_small;
  }
  .section_map{
    .wrapper{
      padding-left: 1rem;
      .txt{
        max-width: 840px;
        &_inner{
          max-width: 540px;
          background: #FFFFFF;
          padding: 2rem 1rem;
          box-sizing: border-box;
        }
      }
    }
  }
  .section_list_items{
    .container{
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .list_items_inner{
      .imgs{
        box-shadow: 0px -56px 39.9927px rgba(43, 54, 95, 0.2) !important;
        img{
          height: auto;
          &:first-child{
            height: auto !important;
          }
          &:last-child{
            height: auto !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px){
  header{
    .wrapper_flex{
      .main_menu{
        display: none;
      }
      .call_center{
        display: none;
      }
    }
  .burger_menu_btn{
    display: block;
  }
  }
  .section_map{
    .wrapper{
      .blue_bg{
        display: none;
      }
      .txt{

      }
    }
  }
}

@media (max-width: 959px){
    .section_vacancies{
      .wrapper_filter{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        div{
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
          select{
            min-width: auto;
          }
        }
      }
    }

  .adv{
    .wrapper_items{
      flex-wrap: wrap;
    }
  }
    .section_map{
      .wrapper{
        background-size: cover;
        .txt{
          max-width: 540px;
          h1{
            @include title_h1_mobile;
          }
        }
      }
    }
  .section_list_items{
    .list_items{
      justify-content: center;
      align-items: center;
      gap: 4rem;
      &_inner{
        .item{
          .txt{
            order: 1;
          }
          .imgs{
            order: 0;
          }
        }
      }
      .item{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .imgs{
          box-shadow: none !important;
        }
        &:nth-child(2n){
          .txt{
            order: 0;
          }
        }
        .txt{
          gap: 1rem;
          h2{
          @include title_h2_mobile;
          }
          .subtitle{
            margin-top: 0;
          }
        }
      }
    }
  }
  footer{
    height: max-content;
    .wrapper_flex{
      height: max-content;
      flex-direction: column;
      padding: 1rem;

      .phone_section{
        a{
          display: flex;
          &:after{
            display: block;
          }
        }
      }
    }
  }
  .section_city{
    .wrapper_items{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 480px){
  .section_vacancies{
    .wrapper_filter{

      div{
        gap: 20px;
        select{
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .section_map{
    .wrapper{
      .txt{
        padding: 1rem;
        h1{
          @include title_h1_small_mobile
        }
        .sub_title{
          @include subtitles_small_mobile
        }
      }
    }
  }
  .section_list_items{
    .list_items{
      .item{
        .imgs{

          img{
            &:first-child{
              height: 450px !important;
              object-fit: contain;
            }
            &:nth-child(2){
              display: none;
            }
          }
        }
      }
    }
  }
  footer{
    .wrapper_flex{
      .descr{
        text-align: center;
      }
      .phone_section{
        flex-direction: column;
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .adv{
    .container_inner{
      //padding-left: 1rem;
      //padding-right: 1rem;
    }
  }
  .container_inner{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}