@font-face {
  font-family: "Petra Sans";
  src: url("../../fonts/PetraSans-Regular.ttf") format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Petra Sans";
  src: url("../../fonts/PetraSans-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Petra Sans";
  src: url("../../fonts/PetraSans-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Petra Sans";
  src: url("../../fonts/PetraSans-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Petra Sans";
  src: url("../../fonts/PetraSans-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}