header{
  padding: 30px 0 30px 0;
  .wrapper_flex{
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    .logo{
      max-width: 226px;
      width: 100%;
      a{
        display: block;
        cursor: pointer;
      }
    }
    .call_center{
      display: flex;
      align-items: center;
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #919191;
      gap: 1rem;
      span{
        color: #919191;
      }
      a{
        font-family: 'Inter',sans-serif;
        color: #919191;

      }
      .search_btn{
        display: block;
        background: url("../../img/search_icon.png") center no-repeat;
        background-size: contain;
        width: 20px;
        height: 21px;
      }
    }
  }
}
