@import "mixin";
.section_vacancies{

  .position_relative{
    position: relative;
  }
  h2{
    text-align: center;
    @include margin_for_title_section;
  }

  .wrapper_filter{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(43, 54, 95, 0.2);
    width: 100%;
    margin: 0 auto;
    padding: 32px 32px 29px 32px;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    div{
      display: flex;
      gap: 40px;
      form{
        display: flex;
        gap: 40px;
      }
    }
    a,
    select{
      min-width: 392px;
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      max-width: 392px;
      width: 100%;
      padding: 20px 30px;
      box-sizing: border-box;
      border: 1px solid #B4B4B4;
      background: transparent;
      align-items: center;
      justify-content: space-between;
      position: relative;

    }
    input{
      width: 100%;
      border: 1px solid #B4B4B4;
      padding: 23px 35px 23px 40px;
      box-sizing: border-box;
      background: url("../img/search_icon_input.png") left center no-repeat;
      background-position-x: 15px;
    }
    .active{
      i{
        transform: rotate(0deg);
        transition: 0.5s all;
      }
      .sub_list{
        display: block;
      }
    }
  }

  .list_result{
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    .item{
      max-width: 870px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 20px 40px rgba(43, 54, 95, 0.2);
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 15px 18px 16px 35px;
      align-items: center;
      transition: 0.5s all;
      h5{
        color: #000000;
        text-transform: uppercase;
        font-weight: bold;
      }
      button{
        color: #000000;

      }
    }
    .disable{
      opacity: 0;
      visibility: hidden;
      display: none;
      transition: 0.5s all;
    }
  }
}

.section_slider{
  margin-top: 112px;
  position: relative;
  h2{
    @include margin_for_title_section
    text-align: center;
  }
  .wrapper_slider{
    padding: 41px 49px 0 49px;
    box-sizing: border-box;

    .item{
      margin-right: 55px;
      position: relative;
      height: max-content;
      img{
        object-fit: cover;

      }
    }
  }
  .arrows{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    left: 0;
    width: 100%;

    .btn_next,
    .btn_prev{
      width: 16px;
      height: 30px;
      background: url("../img/arrows_for_slider.png") no-repeat;
      background-size: cover;
    }
    .btn_next{
      transform: rotate(180deg);
    }
  }
}

.section_city{

  h2{
    text-align: center;
    @include margin_for_title_section;
  }
  .wrapper_items{
    display: flex;
    gap: 55px;

    .item{
      background: rgba(196, 196, 196, 0.01);
      max-width: 401px;
      width: 100%;
      height: 237px;
      position: relative;
      box-shadow: 0px 19.9964px 39.9927px rgba(43, 54, 95, 0.2);
      cursor: pointer;
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      h3{
        position: absolute;
        top: 78%;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(33, 29, 116, 0.6);
        width: 100%;
        color: #FFFFFF;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.adv{
  .title_section{
    @include margin_for_title_section;
  }
  .icon{
    background: url("../img/icon_adv.png") no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    margin: 0 auto;
  }
  h2{
    text-align: center;
    @include margin_for_title_section;
  }
  .wrapper_items{
    display: flex;
    gap: 49px;
    justify-content: center;
    .item{
      background: #FFFFFF;
      box-shadow: 0px 20px 40px rgba(43, 54, 95, 0.2);
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 408px;
      width: 100%;
      padding: 41px 30px;
      box-sizing: border-box;
      .title{
        color: #211D74;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 31px;

      }
      .sub_title{
        color: #858585;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 34px;
      }
      .txt{
        color: #454545;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}